<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinchy.seatademo.account.dao.mapper.AccountMapper">

    <select id="getAccountByUserId" parameterType="string"
            resultType="com.qinchy.seatademo.account.dao.dataobject.AccountDO">
        SELECT *
        FROM account_tbl
        WHERE user_id = #{value}
    </select>

    <select id="getAccountById" parameterType="long" resultType="com.qinchy.seatademo.account.dao.dataobject.AccountDO">
        SELECT *
        FROM account_tbl
        WHERE id = #{value}
    </select>

    <insert id="createAccount" parameterType="com.qinchy.seatademo.account.dao.dataobject.AccountDO">
        INSERT INTO account_tbl(user_id, money) VALUES (#{userId}, #{money})
        <selectKey resultType="java.lang.Long" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
    </insert>

    <update id="reduce" parameterType="com.qinchy.seatademo.account.dao.dataobject.AccountDO">
        UPDATE account_tbl SET money = money - #{money} WHERE user_id = #{userId}
    </update>
</mapper>